#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  text-align: center;
}

.blink {
  /* transition: all 0.5s ease-in-out; */
  animation: blink 0.8s infinite alternate;
}

@keyframes blink {
  from {
    color: white;
  }

  to {
    color: #ffd300;
  }
}
